.page {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-tabs .top-menu-item {
    display: flex;
    flex-direction: column;
}

.main-tabs .top-menu-item .count {
    background: var(--pf-global--active-color--100);
    color: rgb(165, 126, 54);
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 0px;
}

.main-tabs .pf-c-tabs__link .pf-c-tabs__item-icon {
    height: 24px;
    margin-right: 0;
}

.main-tabs .pf-c-tabs__item-text {
    font-size: 14px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
}